<h1>Edit</h1>
<p>Edit existing user </p>

<% if !@user.errors.empty? %>
<%=  simple_format("Error(s) found in submission:") %>
<%   @user.errors.full_messages.each do |message| %>
<%=    simple_format(message) %>
<%   end %>
<%  end %>

<%= form_for @user do |f| %>
  <%= f.label :username %><br />
  <%= f.text_field :username %><br>
  <%= f.label :email %><br />
  <%= f.text_field :email %><br>
  <%= f.label :password %><br />
  <%= f.password_field :password %><br>
  <%= f.submit "Update" %>
<% end %>

<% if false %>
<%= form_tag '/users' do %>
  <%= label_tag :username %>
  <%= text_field_tag :username, params[:username] %>
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= submit_tag "Sign in", class: "btn btn-large btn-primary" %>
<% end %>
<% end %>

<% if false %>
<form action="/users" method="post" accept-charset="UTF-8">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  username: <input type="text" name="user[username]"><br>
  email: <input type="text" name="user[email]"><br>
  password: <input type="password" name="user[password]"><br>
  <input type="submit" value="Submit">
</form>
<% end %>